@charset "UTF-8";

@font-face {
    font-family: 'kiona';
    src: url(../fontes/Kiona-Regular.ttf) format('opentype');
    font-weight: normal;
    font-size: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --cor1: #B60070;
    --cor2: #000000;

    --fonte-padrao: "Montserrat", sans-serif;
    --fonte-destaque: "Kiona", Courier, monospace;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body, html {

    background-color: black;
    font-family: var(--fonte-padrao);
    color: white;
    overflow-x: hidden;
}

menu {
    display: none;
    background-color: var(--cor1) ;
}

i#menu {

    background-color:  var(--cor1);
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}


menu > ul {

    list-style-type: none;

}

menu > ul > li > a {

    display: flex;
    align-items: center;
    gap: 20px; 
    margin-left: 10px;
    padding: 25px;
    text-decoration: none;
    text-align: left;
    font-family: var(--fonte-destaque);
    color: white;
}

menu > ul > li > a > i {

    font-size: 22px; 
    margin: 0; 
    padding: 0; 
}

nav a {

    transition: background-color 0.3s ease, transform 0.2s ease; 
    border-radius: 5px; 

}

nav a:hover {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: box-shadow 0.3s ease; /* Transição suave */
}

main {

    flex-direction: column; 
    width: 100vw;
    height: 100vh;
}


main > .imagem {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #22402B url(../imagens/imagempodcast.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 300px;
    width: 83%;
    margin-top: 20px;
    margin-left: 5%;
    position: relative;
    padding: 20px; 
}

main > .imagem > h1 {

    font-family: var(--fonte-destaque);
    color: white;
    font-size: 2em; 
    text-align: left;
    margin: 0; 
}

main > .imagem > .link {


    margin-top: -40px; 
}

main > .imagem > .link > a.botao {

    display: inline-block;
    font-family: var(--fonte-destaque);
    color: white;
    text-decoration: none;
    padding: 10px; 
    background-color: #00000046;
    border: none;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 150px;
    cursor: pointer;
}

main > .imagem > .link > a.botao:hover {

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    background-color: #BA44FF; 
    color: white;
    transition: box-shadow 0.3s ease; 
}

main > p {

   font-family: var(--fonte-destaque); 
   margin-top: 20px;
   text-align: center;
   font-size: 1em;
}

footer > p {

    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
    
}

